@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}


body {
    background-color: variaveis.$corDeFundo;
    //fonte não se aplica a imputs nem em botões
    //então vamos colocar no asterisco
}

//vamos criar um mixin para padronizar que o line-height é sempre 10 px a mais que o font size

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    //vamos colocar a cor principal dentro do mixing tambem
    color: variaveis.$corTextoPrincipal;
}

//vamos criar 3 classes para os 3 font sizes diferentes

.text--big {
    @include text(18px);
}

.text {
    @include text; //fontsize vai ser 16px igual
    // a condição de cima
}

.text--small {
    @include text(12px);
}

.link-text { //para o link da index
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}


//mixin para os titulos


@mixin title($fonSize: 40px) {
    @include text($fonSize);
    color: variaveis.$corTextoSecundario;
}


.title--big {
    @include title(44px);
}

.tile {
    @include title;
}

.title--small {
    @include title(28px);
}


.button {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    cursor: pointer;
}

